* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

/*** Header ***/

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #672280 1.18%, #a626d3 100%);
  height: 65px;
  color: #fff;
}

.header--logo {
  display: flex;
  flex-direction: row;
  margin-left: 10px;
}

.troll-face {
  width: 31.31px;
  margin-right: 10px;
}

.header h1 {
  font-size: 20.75px;
  font-weight: 700;
  letter-spacing: -10%;
}

.header > p {
  margin-right: 20px;
  font-size: 12px;
  font-weight: 500;
}

/*** Meme Section ***/

.meme--form {
  border: 2px solid green;
  margin: 50px auto;
  max-width: 90%;
}

.meme--form-input {
  width: 230px;
  height: 35px;
  border: 1px solid #d5d4d8;
  box-sizing: border-box;
  border-radius: 5px;
  text-indent: 5px;
}

.input-2 {
  float: right;
}

.meme--btn {
  display: block;
  width: 100%;
  margin-top: 60px;
  height: 40px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  border-radius: 5px;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  color: #fff;
  border: none;
  cursor: pointer;
}

/* Meme Image*/

.meme--figure {
  width: 500px;
  text-align: center;
  margin: 20px auto;
  position: relative;
}

.memeImage {
  width: 477px;
  height: auto;
}

.meme--text {
  position: absolute;
  color: #fff;
  transform: translateX(-50%);
  font-family: impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
}

.top {
  top: 0px;
  left: 40%;
}

.bottom {
  bottom: 0px;
  left: 40%;
}
